@tailwind base;
@tailwind components;
@tailwind utilities;



/* .input-form-io {
    @apply bg-black text-white py-2 px-4 rounded-full text-center font-serif font-bold;
}

.button-form-io {
    @apply bg-black text-white py-2 px-4 rounded-full text-center font-serif font-bold;
} */









:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: #ededed;
    }
}

* {
    /* color: black; */
    font-family: serif;
}

body {
    color: var(--foreground);
    background: var(--background);
}

/* Para navegadores basados en Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 10px;
    border: 2px solid #1c1c1c;
}

/* Para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 transparent;
}

/* Estilos para el TOC usando <ol> */
.toc {
    font-family: serif;
    font-size: 0.95rem;
    line-height: 1.5;
}

/* Reset de listas y sangrías */
.toc ol {
    list-style: decimal inside;
    margin: 0;
    padding-left: 0;
}

/* Cada nivel anidado gana más sangría */
.toc ol ol {
    padding-left: 1rem;
}
.toc ol ol ol {
    padding-left: 2rem;
}
.toc ol ol ol ol {
    padding-left: 4rem;
}

.toc li {
    margin: 0.25rem 0;
    margin-left: 15px;
}

.toc a {
    color: inherit;
    text-decoration: none;
}
.toc a:hover {
    text-decoration: underline;
}

/* Sobrescribe el color del enlace activo (verde por defecto) */
.toc .is-active-link {
    color: #196580 !important;
}

/* Sobrescribe la barra izquierda del <li> activo */
.toc .is-active-li {
    border-left: 1px solid #196580 !important;
    padding-left: 0.5rem; /* separa un poco el texto de la línea */
}

/* Si Tocbot pinta la barra con un pseudo-elemento, lo quitamos */
.toc .is-active-li::before,
.toc .is-active-link::before {
    content: none !important;
    background: none !important;
}


.swiper-button-next {
    color: black !important;
    padding-left: 1.5rem !important;
}

.swiper-button-prev {
    color: black !important;
    padding-right: 1.5rem !important;
}

.swiper-pagination-bullet {
    background-color: gray !important;
    transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
    width: 12px !important;
    /* transition-all */
    transition: all 0.2s ease-in-out;
}