@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input-form-io {
    @apply bg-black text-white py-2 px-4 rounded-full text-center font-serif font-bold;
}

.button-form-io {
    @apply bg-black text-white py-2 px-4 rounded-full text-center font-serif font-bold;
} */

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: #ededed;
    }
}

* {
    /* color: black; */
}

body {
    color: var(--foreground);
    background: var(--background);
}

/* Para navegadores basados en Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 10px;
    border: 2px solid #1c1c1c;
}

/* Para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 transparent;
}

/* Estilos para el TOC usando <ol> */
.toc {
    font-family: serif;
    font-size: 0.95rem;
    line-height: 1.5;
}

/* Reset de listas y sangrías */
.toc ol {
    list-style: decimal inside;
    margin: 0;
    padding-left: 0;
}

/* Cada nivel anidado gana más sangría */
.toc ol ol {
    padding-left: 1rem;
}
.toc ol ol ol {
    padding-left: 2rem;
}
.toc ol ol ol ol {
    padding-left: 4rem;
}

.toc li {
    margin: 0.25rem 0;
    margin-left: 15px;
}

.toc a {
    color: inherit;
    text-decoration: none;
}
.toc a:hover {
    text-decoration: underline;
}

/* Sobrescribe el color del enlace activo (verde por defecto) */
.toc .is-active-link {
    color: #196580 !important;
}

/* Sobrescribe la barra izquierda del <li> activo */
.toc .is-active-li {
    border-left: 1px solid #196580 !important;
    padding-left: 0.5rem; /* separa un poco el texto de la línea */
}

/* Si Tocbot pinta la barra con un pseudo-elemento, lo quitamos */
.toc .is-active-li::before,
.toc .is-active-link::before {
    content: none !important;
    background: none !important;
}

/* Estilos para el carrusel de Swiper */

/* Contenedor principal del carrusel */
.mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

/* Cada slide individual */
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px; /* Ancho del slide */
    height: 400px; /* Alto del slide */
}

/* La imagen dentro de cada slide */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el slide sin deformarse */
    border-radius: 20px; /* Opcional: para bordes redondeados */
}
